
*{
margin: 0;
}
.App {
  text-align: center;
  min-height:100vh;
  background-color:#282c34; 
  color:white;
}
.header{
  background-color: rgb(185, 6, 6);  
  padding:15px;
  font-size:20px;
  color:white; 
  font-weight:200; 
  position:sticky;
  top:0;  
}
.main{ 

  display:flex;
  flex-wrap:wrap;

  padding:15px;
  justify-content:center;
}
.movie{
  border:1px solid grey;  
  text-align:start;

   width:200px; 
  /* width:15%;   */
  
  margin: 10px;
  padding:10px;
}
.movie:last-child{
  border:1px solid green;
}
.movie img{
  width:100%;
}






